body {
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.carousel-item {
    height: 911px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    width: 100%;
}