<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рули</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/data/svg/helmet.png"/>
</head>
<body>
    <nav class="navbar fixed-top bg-dark navbar-expand-lg" data-bs-theme="dark">
        <div class="container-md">
            <a class="navbar-brand" href="/">Valo Racing</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Статьи и новости</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Симрейсинг
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/bundles">Бандлы</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/wheelbase">Рулевые базы</a></li>
                            <li><a class="dropdown-item" href="/wheels">Рули и штурвалы</a></li>
                            <li><a class="dropdown-item" href="/pedals">Педали</a></li>
                            <li><a class="dropdown-item" href="/addons">Аксессуары</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/cockpits">Кокпиты</a></li>
                            <li><a class="dropdown-item" href="/equip">Экипировка</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rent">Аренда симулятора</a>
                    </li>
                </ul>
                {% if session.get('username') %}
                <span class="navbar-text text-white me-2" id="username">{{ session['username'] }}</span>
                <button  class="btn btn-outline-danger ms-1">
                    <a href="/logout" style="text-decoration: none;">Выйти</a>
                </button>
                {% else %}
                <button class="btn btn-outline-success ms-1" type="button">
                    <a href="/login" style="text-decoration: none; color: white;">Войти</a>
                </button>
                <button class="btn btn-outline-light ms-1" type="button">
                    <a href="/reg" style="text-decoration: none; color: yellow;">Зарегистрироваться</a>
                </button>
                {% endif %}
            </div>
        </div>
    </nav>
    <h1 class="text-center mt-5">Рули</h1>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-3">  <!-- Меню слева -->
                <h5>Каталог</h5>
                <ul class="list-group fixed-left">
                    <li><a class="list-group-item" href="/bundles">Бандлы</a></li>
                    <li><a class="list-group-item" href="/wheelbase">Рулевые базы</a></li>
                    <li><a class="list-group-item" href="/wheels" style="color: red;">Рули и штурвалы</a></li>
                    <li><a class="list-group-item" href="/pedals"> Педали</a></li>
                    <li><a class="list-group-item" href="/addons">Аксессуары</a></li>
                    <li><a class="list-group-item" href="/cockpits">Кокпиты</a></li>
                    <li><a class="list-group-item" href="/equip">Экипировка</a></li>
                </ul>
                <h5 class="mt-4">Фильтры</h5>
                <div class="list-group">
                    <div class="list-group-item">
                        <h6>Производитель</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="brand" id="brandAll" value="all" checked onchange="applyFilter()">
                            <label class="form-check-label" for="brandAll">Все</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="brand" id="brandMoza" value="moza" onchange="applyFilter()">
                            <label class="form-check-label" for="brandMoza">Moza</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="brand" id="brandSimagic" value="simagic" onchange="applyFilter()">
                            <label class="form-check-label" for="brandSimagic">Simagic</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="brand" id="brandConspit" value="conspit" onchange="applyFilter()">
                            <label class="form-check-label" for="brandConspit">Conspit</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="brand" id="brandGrid" value="grid" onchange="applyFilter()">
                            <label class="form-check-label" for="brandGrid">Grid</label>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="me-2">
                            <input type="number" id="priceFrom" class="form-control" placeholder="Цена" oninput="applyFilter()">
                        </div>
                        <div>
                            <input type="number" id="priceTo" class="form-control" placeholder="До" oninput="applyFilter()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for product in products if product.category == 'wheels' %}
                    <div class="col">
                        <div class="card h-100" data-bs-toggle="modal" data-bs-target="#productModal" data-description="{{ product.description }}">
                            <img src="{{ url_for('static', filename='data/' + product.image) }}" class="card-img-top" alt="{{ product.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="card-text mb-0">{{ product.price|int }} руб.</p>
                                    <small class="text-muted">{{ product.brand|upper }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="productImage" src="" class="img-fluid" alt="Фото товара">
                        </div>
                        <div class="col-md-6">
                            <h4 id="productPrice" class="mb-4"></h4>
                            <div id="productDescription" class="mb-4"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p style="color: grey">При регистрации скидка 5% на 1 покупку</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="openWhatsApp()">Купить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="elfsight-app-0f72ebdf-a373-4bd0-a66b-38bb2b9e3d11" data-elfsight-app-lazy></div>
    <footer class="bg-dark text-light py-4 text-center">
        <div class="container-md">
            <div class="row">
                <div class="col-md-4">
                    <h5><a href="/about" class="text-light">О компании</a></h5>
                    <p>Valo Racing - ваш надежный партнер в мире симрейсинга. Мы предлагаем широкий ассортимент оборудования и аксессуаров для симрейсинга.</p>
                </div>
                <div class="col-md-4">
                    <h5>Аренда симуляторов</h5>
                    <p>MOZA R5<br>Cammus C5<br>MOZA R3</p>
                </div>
                <div class="col-md-4">
                    <h5>Адрес</h5>
                    <p>ул. Макса Ферстаппена, 33, Новосибирск, Россия<br>Часы работы: Пн-Пт 9:00 - 18:00</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h5>Как купить</h5>
                    <p><img src="static/data/svg/whatsapp.svg"><img src="static/data/svg/telegram.svg"><br>+7 (951) 372-02-74</p>
                </div>
                <div class="col-md-6">
                    <h5>Контакты</h5>
                    <p>Email: info@valoracing.com<br>📱+7 (478) 144-11-31<br>📱+7 (951) 372-02-74</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <p>&copy; 2025 Valo Racing. Все права защищены.</p>
            </div>
        </div>
    </footer>
    <!-- Elfsight All-in-One Chat | Untitled All-in-One Chat -->
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let cards = document.querySelectorAll('.col');
            cards.forEach(card => {
                card.addEventListener('click', function() {
                    const productData = {
                        title: this.querySelector('.card-title').textContent,
                        price: this.querySelector('.card-text').textContent,
                        image: this.querySelector('img').src,
                        description: this.querySelector('.card').getAttribute('data-description')
                    };
                    document.getElementById('productModalLabel').textContent = productData.title;
                    document.getElementById('productPrice').textContent = productData.price;
                    document.getElementById('productImage').src = productData.image;
                    document.getElementById('productDescription').textContent = productData.description || 'Описание отсутствует';
                });
            });
        });
        function openWhatsApp() {
            const productTitle = document.getElementById('productModalLabel').textContent;
            const usernameEl = document.getElementById('username');
            const username = usernameElement ? usernameEl.textContent : null;
            const phoneNumber = '+79513720274';
            let message = `Здравствуйте! Хочу заказать: ${productTitle}.`;
            if (username) {
                message += `\nИмя пользователя: ${username}`;
            }
            const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
            window.open(whatsappUrl, '_blank');
            bootstrap.Modal.getInstance(document.getElementById('productModal')).hide();
        }
        function applyFilter() {
            const priceFrom = parseFloat(document.getElementById('priceFrom').value) || 0;
            const priceTo = parseFloat(document.getElementById('priceTo').value) || Infinity;
            const selectedBrand = document.querySelector('input[name="brand"]:checked')?.value || 'all';
            const cards = document.querySelectorAll('.col');

            cards.forEach(card => {
                const priceText = card.querySelector('.card-text').textContent;
                const price = parseFloat(priceText.replace(/[^\d,]/g, '').replace(',', '.'));
                const title = card.querySelector('.card-title').textContent.toLowerCase();
                const priceMatch = price >= priceFrom && price <= priceTo;
                let brandMatch = true;

                if (selectedBrand !== 'all') {
                    brandMatch = title.includes(selectedBrand.toLowerCase());
                }

                if (priceMatch && brandMatch) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>